include LICENSE
include README.md
include pyproject.toml
include setup.py
include stub.c
include go.mod
include go.sum

recursive-include capi *.go
recursive-include src/pyyescrypt *.py
recursive-include tests *.py